In [1]:
%load_ext sql

In [2]:
%sql sqlite:///movies.sqlite

In [5]:
%%sql 
PRAGMA foreign_keys=ON;

 * sqlite:///movies.sqlite
Done.

[]

In [8]:
%%sql
SELECT * 
              FROM screenings
              JOIN movies USING (imdb_key)

 * sqlite:///movies.sqlite
Done.

[('7b1fb2839f90d9ec800a27d8e2d1a0b8', '19:00', '2021-02-22', 'Regal', 'tt3661210', 16, 'TheDig', 2021, None),
 ('1f7d40357d8a9fec79bb0af8960fc003', '21:00', '2021-02-22', 'Regal', 'tt3661210', 16, 'TheDig', 2021, None),
 ('47d712715f65f79077aa804dee5735c6', '19:00', '2021-02-22', 'Skandia', 'tt10016180', 100, 'TheLittleThings', 2021, None)]

In [13]:
%%sql
WITH nbrtickets AS (SELECT *
              FROM customers
              JOIN tickets USING (user_name)
              WHERE user_name = ?)
              ,

    movie_info AS (SELECT * 
              FROM screenings
              JOIN movies USING (imdb_key))

            SELECT start_date, start_time, theater_name, movie_tittle, production_year, count() as numberOftickets
            FROM movie_info 
            JOIN nbrtickets USING (screening_id)
            GROUP BY screening_id

 * sqlite:///movies.sqlite
Done.

[]